/****** Inicio Footer ******/
.footer-container {
    background-color: rgb(71, 70, 70);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 200px;
    .footer div a{
        text-decoration: none;
        color: white;
    }
}

.font div a{
    text-decoration: none;
    color: rgb(223, 37, 37);
}

/****** Fin Footer ******/ 