/* Inicio Body  */
html {
    font-size: 35px;
}

.body {
    margin: 0%;
    padding: 0%;
    position: relative;
    padding-bottom: 7em;
    min-height: 100vh;
}

/* Fin Body */

/* Inicio Header*/
.texto {
    color: white;
    background-color: rgb(71, 70, 70);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Smooch Sans', sans-serif;
}

.header-container {
    background-color: rgb(255, 255, 255);
    font-family: 'Smooch Sans', sans-serif;
    padding: 0px;

}

.logo-barrabusqueda {
    display: grid;
    background-color: white;
    grid-template-columns: auto auto;
    justify-content: space-around;
    display: flex;
    align-items: center;

}

.logo {
    width: 400px;
    height: 300px;

}

.header {
    width: 100%;
    background-color: rgb(71, 70, 70);
    display: flex;
    justify-content: space-around;
    div a {
        text-decoration: none;
        color: white;
    }
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
}

input.src {
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 25px;
    border-radius: 10px;
    color: #444;
    border: 3px solid #000000;
    background: #fff url("search-icon.png");
    width: 450px;
    height: 70px;
    display: grid;
}

/* Fin Header */
/****** Inicio carrusel de imagenes ******/
.image-div {
    width: 100%;
    display: flex;
}
.image-div img {
    width: 33.33%;
}
/****** Fin carrusel de imagenes ******/
/****** Inicio preguntas frecuentes ******/
.preguntas-container{
    font-family: 'Smooch Sans', sans-serif;
    color: rgb(71, 70, 70);
}
.preguntas-container h1{
    display: flex;
    justify-content: center;
    border: 4px solid #000000;
    width: 50%; 
    height: 100%; 
    margin-left: 25%;
    
}
/****** Fin preguntas frecuentes ******/