/****** Inicio carrusel de imagenes ******/
.image-div {
    width: 100%;
    display: flex;
}
.image-div img {
    width: 33.33%;
}
/****** Fin carrusel de imagenes ******/
/* Inicio imagenes con link */

.img-index {
    width: 90%;
    display: grid;
    grid-template-columns: 240px 240px;
    gap: 20px;
}
.img-index a {
    height: auto;
    width: auto;
    max-width: 200px;
}

/* Fin imagenes con link */